In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [49]:
bitcoin_news_lag1 = pd.read_csv(
    "../Data/bitcoin_news_sentiment_daily_lag1.csv", index_col=0
)
BB_sentiment_lag1 = pd.read_csv("../Data/BB_sentiment_lag1.csv", index_col=0)
btc_direction = pd.read_csv("../Data/btc_direction.csv", index_col=0)
btc_magnitude = pd.read_csv("../Data/btc_magnitude.csv", index_col=0)
coinbase_news_lag1 = pd.read_csv(
    "../Data/coinbase_news_sentiment_daily_lag1.csv", index_col=0
)
non_sentiment_lag1 = pd.read_csv("../Data/features_lag1.csv", index_col=0)
gg_trend = pd.read_csv("../Data/google_trends_signal_daily.csv", index_col=0)

In [50]:
bitcoin_news_lag1

,positive_count,negative_count,neutral_count,positive_avg_score,negative_avg_score,neutral_avg_score,total_news_count,total_news_score,signal
date_dt,,,,,,,,,
2021-04-15,10.0,2.0,10.0,0.907243,0.959677,0.849137,22.0,7.153077,0.666667
2021-04-16,6.0,10.0,7.0,0.623001,0.895473,0.726584,23.0,-5.216729,-0.250000
2021-04-17,1.0,2.0,3.0,0.725935,0.804262,0.818327,6.0,-0.882590,-0.333333
2021-04-19,2.0,6.0,1.0,0.886130,0.962285,0.899825,9.0,-4.001451,-0.500000
2021-04-20,3.0,5.0,2.0,0.867508,0.785641,0.786232,10.0,-1.325679,-0.250000
...,...,...,...,...,...,...,...,...,...
2024-03-09,3.0,1.0,0.0,0.774210,0.975991,0.000000,4.0,1.346641,0.500000
2024-03-12,9.0,0.0,1.0,0.798569,0.000000,0.871973,10.0,7.187121,1.000000
2024-03-13,3.0,0.0,1.0,0.821627,0.000000,0.901766,4.0,2.464880,1.000000
2024-03-14,1.0,1.0,1.0,0.684063,0.642996,0.939473,3.0,0.041067,0.000000
2024-03-18,2.0,0.0,1.0,0.865381,0.000000,0.608785,3.0,1.730762,1.000000

In [51]:
BB_sentiment_lag1

,TWITTER_SENTIMENT_DAILY_AVG,TWITTER_PUBLICATION_COUNT,TWITTER_NEG_SENTIMENT_COUNT,TWITTER_POS_SENTIMENT_COUNT,TWITTER_SENTIMENT_DAILY_MAX,TWITTER_NEUTRAL_SENTIMENT_CNT,TWITTER_SENTIMENT_DAILY_MIN,NEWS_SENTIMENT_DAILY_AVG
date_dt,,,,,,,,
2021-04-02,0.0032,10.0,1.0,1.0,0.1068,14.0,-0.1068,-0.6321
2021-04-03,0.0019,174.0,2.0,8.0,0.1068,169.0,-0.1068,0.0005
2021-04-04,0.0019,174.0,2.0,8.0,0.1068,169.0,-0.1068,0.0005
2021-04-05,0.0019,174.0,2.0,8.0,0.1068,169.0,-0.1068,0.0005
2021-04-06,0.0025,41.0,1.0,2.0,0.1070,34.0,0.0000,0.0000
...,...,...,...,...,...,...,...,...
2024-03-28,-0.0049,502.0,12.0,7.0,0.4438,145.0,-0.1830,0.0113
2024-03-29,-0.1393,955.0,148.0,22.0,0.4438,348.0,-0.1830,-0.5112
2024-03-30,-0.0236,470.0,22.0,8.0,0.4438,128.0,-0.1830,-0.0477
2024-03-31,-0.0236,470.0,22.0,8.0,0.4438,128.0,-0.1830,-0.0477
2024-04-01,-0.0236,470.0,22.0,8.0,0.4438,128.0,-0.1830,-0.0477

In [52]:
btc_direction

            Direction
date_dt
2014-09-18          0
2014-09-19          0
2014-09-20          1
2014-09-21          0
2014-09-22          1
...               ...
2024-03-28          1
2024-03-29          0
2024-03-30          0
2024-03-31          1
2024-04-02          0

[3484 rows x 1 columns]

In [53]:
btc_magnitude

            magnitude
date_dt
2014-09-18          5
2014-09-19          5
2014-09-20          6
2014-09-21          5
2014-09-22          6
...               ...
2024-03-31         10
2024-04-01          1
2024-04-02          1
2024-04-03          7
2024-04-04         10

[3487 rows x 1 columns]

In [54]:
coinbase_news_lag1

,positive_count,negative_count,neutral_count,positive_avg_score,negative_avg_score,neutral_avg_score,total_news_count,total_news_score,signal
date_dt,,,,,,,,,
2021-04-14,1.0,0.0,2.0,0.757015,0.000000,0.798267,3.0,0.757015,1.000000
2021-04-15,44.0,23.0,94.0,0.786364,0.817363,0.884039,161.0,15.800687,0.313433
2021-04-16,51.0,28.0,73.0,0.823400,0.890134,0.858108,152.0,17.069669,0.291139
2021-04-17,14.0,12.0,44.0,0.794744,0.798550,0.832263,70.0,1.543818,0.076923
2021-04-18,3.0,2.0,9.0,0.662382,0.733936,0.782948,14.0,0.519273,0.200000
...,...,...,...,...,...,...,...,...,...
2024-03-13,7.0,2.0,18.0,0.814736,0.759975,0.912939,27.0,4.183200,0.555556
2024-03-14,2.0,4.0,18.0,0.818522,0.771731,0.851901,24.0,-1.449878,-0.333333
2024-03-15,5.0,3.0,5.0,0.833427,0.977488,0.903085,13.0,1.234667,0.250000
2024-03-18,6.0,2.0,9.0,0.844617,0.680807,0.908060,17.0,3.706089,0.500000
2024-03-19,0.0,3.0,6.0,0.000000,0.821265,0.684396,9.0,-2.463795,-1.000000

In [55]:
non_sentiment_lag1

,Open,High,Low,Close,Adj Close,Volume,close_open,Daily Return,cumulative_return,30D_Moving_STD,...,DTB3_lag1,DTB3_lag2,T5YIE_lag1,T5YIE_lag2,S&P500_Close_lag1,S&P500_Close_lag2,VIX_Close_lag1,VIX_Close_lag2,S&P_Return_lag1,S&P_Return_lag2
date_dt,,,,,,,,,,,,,,,,,,,,,
2021-04-15,63523.753906,64863.097656,61554.796875,63109.695312,63109.695312,7.745178e+10,-414.058594,0.003237,0.003237,3795.270489,...,0.02,0.02,2.56,2.56,4124.660156,4124.660156,16.99,16.99,0.011094,0.011094
2021-04-16,63075.195312,63821.671875,62208.964844,63314.011719,63314.011719,6.095438e+10,238.816406,0.003237,0.003237,3795.270489,...,0.02,0.02,2.56,2.56,4124.660156,4124.660156,16.99,16.99,0.011094,0.011094
2021-04-17,63258.503906,63594.722656,60222.531250,61572.789062,61572.789062,8.429301e+10,-1685.714844,-0.027501,-0.024353,3795.270489,...,0.02,0.02,2.55,2.56,4170.419922,4124.660156,16.57,16.99,0.011094,0.011094
2021-04-18,61529.921875,62572.175781,60361.351562,60683.820312,60683.820312,6.613876e+10,-846.101562,-0.014438,-0.038439,3795.270489,...,0.02,0.02,2.57,2.55,4185.470215,4170.419922,16.25,16.57,0.003609,0.011094
2021-04-19,60701.886719,61057.457031,52829.535156,56216.183594,56216.183594,9.746887e+10,-4485.703125,-0.073622,-0.109231,3795.270489,...,0.02,0.02,2.57,2.57,4185.470215,4185.470215,16.25,16.25,0.000000,0.003609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-30,70744.796875,70913.093750,69076.656250,69892.828125,69892.828125,2.523085e+10,-851.968750,-0.012045,0.107482,3319.982750,...,5.23,5.22,2.38,2.37,5254.350098,5248.490234,13.01,12.78,0.001116,0.008631
2024-03-31,69893.445312,70355.492188,69601.062500,69645.304688,69645.304688,1.713024e+10,-248.140625,-0.003541,0.103560,3137.874526,...,5.23,5.23,2.38,2.38,5254.350098,5254.350098,13.01,13.01,0.000000,0.001116
2024-04-01,69647.781250,71377.781250,69624.867188,71333.648438,71333.648438,2.005094e+10,1685.867188,0.024242,0.130312,3054.432327,...,5.23,5.23,2.38,2.38,5254.350098,5254.350098,13.01,13.01,0.000000,0.000000
2024-04-02,71333.484375,71342.093750,68110.695312,69702.148438,69702.148438,3.487353e+10,-1631.335938,-0.022871,0.104460,2863.107821,...,5.23,5.23,2.38,2.38,5254.350098,5254.350098,13.01,13.01,0.000000,0.000000
2024-04-03,69705.023438,69708.382812,64586.593750,65446.972656,65446.972656,5.070524e+10,-4258.050781,-0.061048,0.037035,2754.968124,...,5.23,5.23,2.41,2.38,5243.770020,5254.350098,13.65,13.01,-0.002014,0.000000

In [56]:
gg_trend.index.name = "date_dt"
gg_trend

              signal
date_dt
2021-04-11  0.137663
2021-04-12  0.137663
2021-04-13  0.137663
2021-04-14  0.137663
2021-04-15  0.137663
...              ...
2024-03-20  0.237439
2024-03-21  0.237439
2024-03-22  0.237439
2024-03-23  0.237439
2024-03-24  0.142479

[1079 rows x 1 columns]

In [73]:
combined_df = pd.concat(
    [
        btc_direction,
        btc_magnitude,
        bitcoin_news_lag1,
        BB_sentiment_lag1,
        coinbase_news_lag1,
        non_sentiment_lag1,
        gg_trend,
    ],
    axis=1,
    join="outer",
)
combined_df.index = pd.to_datetime(combined_df.index)
combined_df = combined_df[combined_df.index >= pd.Timestamp("2021-04-15")]

combined_df

,Direction,magnitude,positive_count,negative_count,neutral_count,positive_avg_score,negative_avg_score,neutral_avg_score,total_news_count,total_news_score,...,DTB3_lag2,T5YIE_lag1,T5YIE_lag2,S&P500_Close_lag1,S&P500_Close_lag2,VIX_Close_lag1,VIX_Close_lag2,S&P_Return_lag1,S&P_Return_lag2,signal
date_dt,,,,,,,,,,,,,,,,,,,,,
2021-04-15,1.0,6,10.0,2.0,10.0,0.907243,0.959677,0.849137,22.0,7.153077,...,0.02,2.56,2.56,4124.660156,4124.660156,16.99,16.99,0.011094,0.011094,0.137663
2021-04-16,0.0,1,6.0,10.0,7.0,0.623001,0.895473,0.726584,23.0,-5.216729,...,0.02,2.56,2.56,4124.660156,4124.660156,16.99,16.99,0.011094,0.011094,0.137663
2021-04-17,0.0,3,1.0,2.0,3.0,0.725935,0.804262,0.818327,6.0,-0.882590,...,0.02,2.55,2.56,4170.419922,4124.660156,16.57,16.99,0.011094,0.011094,0.137663
2021-04-18,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.02,2.57,2.55,4185.470215,4170.419922,16.25,16.57,0.003609,0.011094,0.018928
2021-04-19,0.0,4,2.0,6.0,1.0,0.886130,0.962285,0.899825,9.0,-4.001451,...,0.02,2.57,2.57,4185.470215,4185.470215,16.25,16.25,0.000000,0.003609,0.018928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-31,1.0,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.23,2.38,2.38,5254.350098,5254.350098,13.01,13.01,0.000000,0.001116,NaN
2024-04-02,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.23,2.38,2.38,5254.350098,5254.350098,13.01,13.01,0.000000,0.000000,NaN
2024-04-01,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.23,2.38,2.38,5254.350098,5254.350098,13.01,13.01,0.000000,0.000000,NaN
2024-04-03,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.23,2.41,2.38,5243.770020,5254.350098,13.65,13.01,-0.002014,0.000000,NaN
2024-04-04,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
type(combined_df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [ ]:
combined_df.to_csv("../Data/combined_Lin.csv")

In [66]:
combined_missing = combined_df.isnull().sum()

In [59]:
combined_df.dropna(inplace=True)
combined_df.shape

(492, 66)

In [60]:
combined_df

,positive_count,negative_count,neutral_count,positive_avg_score,negative_avg_score,neutral_avg_score,total_news_count,total_news_score,signal,TWITTER_SENTIMENT_DAILY_AVG,...,DTB3_lag2,T5YIE_lag1,T5YIE_lag2,S&P500_Close_lag1,S&P500_Close_lag2,VIX_Close_lag1,VIX_Close_lag2,S&P_Return_lag1,S&P_Return_lag2,signal
date_dt,,,,,,,,,,,,,,,,,,,,,
2021-04-15,10.0,2.0,10.0,0.907243,0.959677,0.849137,22.0,7.153077,0.666667,0.0064,...,0.02,2.56,2.56,4124.660156,4124.660156,16.99,16.99,0.011094,0.011094,0.137663
2021-04-16,6.0,10.0,7.0,0.623001,0.895473,0.726584,23.0,-5.216729,-0.250000,-0.0073,...,0.02,2.56,2.56,4124.660156,4124.660156,16.99,16.99,0.011094,0.011094,0.137663
2021-04-17,1.0,2.0,3.0,0.725935,0.804262,0.818327,6.0,-0.882590,-0.333333,-0.0099,...,0.02,2.55,2.56,4170.419922,4124.660156,16.57,16.99,0.011094,0.011094,0.137663
2021-04-19,2.0,6.0,1.0,0.886130,0.962285,0.899825,9.0,-4.001451,-0.500000,-0.0099,...,0.02,2.57,2.57,4185.470215,4185.470215,16.25,16.25,0.000000,0.003609,0.018928
2021-04-20,3.0,5.0,2.0,0.867508,0.785641,0.786232,10.0,-1.325679,-0.250000,-0.0069,...,0.02,2.57,2.57,4185.470215,4185.470215,16.25,16.25,0.000000,0.000000,0.018928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-09,3.0,1.0,0.0,0.774210,0.975991,0.000000,4.0,1.346641,0.500000,0.0075,...,5.24,2.34,2.38,5157.359863,5104.759766,14.44,14.50,0.010304,0.005141,0.207760
2024-03-12,9.0,0.0,1.0,0.798569,0.000000,0.871973,10.0,7.187121,1.000000,0.0214,...,5.24,2.34,2.34,5123.689941,5123.689941,14.74,14.74,0.000000,0.000000,0.224473
2024-03-13,3.0,0.0,1.0,0.821627,0.000000,0.901766,4.0,2.464880,1.000000,0.0361,...,5.24,2.32,2.34,5117.939941,5123.689941,15.22,14.74,-0.001122,0.000000,0.224473
2024-03-14,1.0,1.0,1.0,0.684063,0.642996,0.939473,3.0,0.041067,0.000000,0.0321,...,5.24,2.35,2.32,5175.270020,5117.939941,13.84,15.22,0.011202,-0.001122,0.224473
2024-03-18,2.0,0.0,1.0,0.865381,0.000000,0.608785,3.0,1.730762,1.000000,-0.0094,...,5.25,2.39,2.39,5117.089844,5117.089844,14.41,14.41,0.000000,-0.006483,0.237439